body 
{
    background-image: url(../img/imagenDeFondoLogin.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.login 
{
    background-color: rgba(125, 125, 125, 0.3);
}


html, body 
{
    height: 100%;
    width: 100%;
}
body 
{
    display: table;
}
.centro 
{
    display: table-cell;
    vertical-align: middle;
}