#nombreLogo{
    color:white;
    margin-top: 15px;
    padding-right: 10px;
}

.jumbotron{
    border-color: black;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
}

input[type="text"]{
    border-radius:15px;
    
}
input[type="date"]{
    border-radius:15px;
}
#tipo_mounstro{
    border-radius:15px;
}
input[value="Registrar"]{
    border-radius:15px;
    margin-top: 10px;
    background-color: red;
    padding-left: 50px;
    padding-right: 50px;
}
input[type="email"]{
    border-radius:15px;
}
#registroMonstruo{
    width:300px;
    margin:0 auto;
}
