body {
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
    background-attachment: fixed;
}
.login 
{
    background-color:cornflowerblue;
    border-radius: 5px; 
    -moz-border-radius: 5px;
    border: red 2px solid;
}
.login p,
.login .form
{
    color:;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    display: table;
}
.centro {
    display: table-cell;
    vertical-align: middle;
}
