{margin:0px;
padding:0px;    
}

body{background-image: url(monster1.jpg);
                background-position: center center;}
.header {
    color: #36A0FF;
    font-size: 25px;
    padding: 10px;
}

.bigicon {
    font-size: 20px;
    color: #36A0FF;
}
