{margin:0px;
padding:0px;    
}

body{
background-image: url(fondoJovenes.jpg);
    background-position: center center;
}
.row{
  
    font-variant-position: left;
    color: whitesmoke;  
    font-size: 28;}
#uno{
  background-image: url(productos.png);  
}
