@media (max-width: 1300px)
{
    body 
    {
        background-image: url(/solemne2/img/imagenDeFondoLogin.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    html, body 
    {
        height: 100%;
        width: 100%;
    }
    .navbar-brand 
    {
    /*padding: 0px;*/
    }
    .navbar-brand > img 
    {
        height: 100%;
        padding: 15px;
        width: auto;
    }
}


