.navbar-brand {
    background-image: url("../img/logo.png");
    background-repeat:no-repeat; 
    background-position:center center;
    background-size:40px 40px;
    text-indent:-1000px;
    min-width:80px;
}
.navbar-brand>img {
}